@cigol:registry=https://cigolsoftware.jfrog.io/artifactory/api/npm/front/
_password=Q3JGdUpvLjIwMjM=
username=cigol.software
email=cigol.software@gmail.com
always-auth=true

@sweetening:registry=https://cigolsoftware.jfrog.io/artifactory/api/npm/front/
_password=Q3JGdUpvLjIwMjM=
username=cigol.software
email=cigol.software@gmail.com
always-auth=true