<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">
    <a class="navbar-brand me-1 me-sm-3">
        <div class="d-flex align-items-center">
            <span class="font-sans-serif">Sweetening</span>
        </div>
    </a>
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
        <li class="nav-item">
            <div class="theme-control-toggle fa-icon-wait px-2">
                <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle" type="checkbox"
                    data-theme-control="theme" value="dark" />
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle"
                    data-bs-toggle="tooltip" data-bs-placement="left">
                    <span class="fas fa-sun fs-0"></span>
                </label>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle"
                    data-bs-toggle="tooltip" data-bs-placement="left">
                    <span class="fas fa-moon fs-0"></span>
                </label>
            </div>
        </li>
        <li class="nav-item">
            <div class="theme-control-toggle fa-icon-wait">
                <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle" />
            </div>
        </li>
        <li class="nav-item">
            <app-button *ngIf="installer" (click)="install()" [button]="button"></app-button>
        </li>
    </ul>
</nav>